<%- include( 'templates/head' ) %>

<form class="w-50 m-auto mt-5 bg-light p-5" id="register-form" action="/product/" method="POST">
    <h4 class="text-primary" >Agregar Producto</h4>
    <div class="mb-3">
        <label for="name" class="form-label" id="product-name">Producto:</label>
      <input type="text" class="form-control" id="name" name="name" required/>
      <label for="description" class="form-label" id="product-description">Descripcion:</label>
      <input type="text" class="form-control" id="description" name="description" required/>
      <label for="thumbnail" class="form-label" id="product-thumbnail">Imagen:</label>
      <input type="text" class="form-control" id="avatar" name="avatar" required/>
      <label for="category" class="form-label" id="product-category">Categoria:</label>
      <input type="text" class="form-control" id="product-category" name="category" required/>
      <label for="price" class="form-label" id="product-price">Precio:</label>
      <input type="number" class="form-control" id="product-price" name="price" required/>
    </div>
    <button type="submit" class="btn btn-primary" id="register-submit">Guardar producto</button>
  </form>